################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/genann_edited/bill/.vs/bill/v15
/genann_edited/bill/x64/Debug
/genann_edited/bill/bill
