################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/genann_edited/bill/.vs/bill/v15
